<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="AddToPath" Guid="a1b2c3d4-e5f6-7890-abcd-ef0123456789">
        <Environment
          Id="PathEntry"
          Name="PATH"
          Value="[INSTALLDIR]"
          Permanent="no"
          Part="last"
          Action="set"
          System="yes" />
        <RegistryValue
          Root="HKLM"
          Key="Software\[Manufacturer]\[ProductName]"
          Name="PathAdded"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
